.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #15133c;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mainSection {
  display: flex;
  background-color: #15133c;
  width: 60%;
  height: 100vh;
  flex-direction: column;
}

.sideSection {
  background-color: #73777b;
  width: 20%;
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 20vh;
  font-family: "Blaka", cursive;
  color: #f1eee9;
  font-size: 70px;
  margin-top: 25px;
  margin-bottom: -30px;
}

.titleValue {
  -webkit-text-stroke: 2px #ec994b;
}

.gameZone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 80vh;
}
